<div class="settings-card">
  <div class="card-header">
    <h2>{{ 'user.settings.title' | translate }}</h2>
    <button class="close-button" (click)="closeCard()" type="button" [attr.aria-label]="'common.close' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="card-content">
    <ng-container *ngIf="user$ | async as user">
      <div class="settings-section">
        <h3>{{ 'user.settings.preferences' | translate }}</h3>
        
        <div class="setting-item">
          <div class="setting-info">
            <mat-icon>language</mat-icon>
            <div>
              <span class="setting-label">{{ 'user.settings.language' | translate }}</span>
              <span class="setting-description">{{ 'user.settings.languageDescription' | translate }}</span>
            </div>
          </div>
          <select class="setting-control" [(ngModel)]="preferences.language">
            <option value="es">{{ 'user.settings.languages.es' | translate }}</option>
            <option value="en">{{ 'user.settings.languages.en' | translate }}</option>
            <option value="pt">{{ 'user.settings.languages.pt' | translate }}</option>
          </select>
        </div>

        <div class="setting-item">
          <div class="setting-info">
            <mat-icon>notifications</mat-icon>
            <div>
              <span class="setting-label">{{ 'user.settings.notifications' | translate }}</span>
              <span class="setting-description">{{ 'user.settings.notificationsDescription' | translate }}</span>
            </div>
          </div>
          <label class="toggle-switch">
            <input type="checkbox" [(ngModel)]="preferences.notifications">
            <span class="slider"></span>
          </label>
        </div>

        <div class="setting-item">
          <div class="setting-info">
            <mat-icon>palette</mat-icon>
            <div>
              <span class="setting-label">{{ 'user.settings.theme' | translate }}</span>
              <span class="setting-description">{{ 'user.settings.themeDescription' | translate }}</span>
            </div>
          </div>
          <select class="setting-control" [(ngModel)]="preferences.theme">
            <option value="light">{{ 'user.settings.themes.light' | translate }}</option>
            <option value="dark">{{ 'user.settings.themes.dark' | translate }}</option>
            <option value="auto">{{ 'user.settings.themes.auto' | translate }}</option>
          </select>
        </div>
      </div>

      <div class="settings-section">
        <h3>{{ 'user.settings.account' | translate }}</h3>
        
        <div class="setting-item">
          <div class="setting-info">
            <mat-icon>person</mat-icon>
            <div>
              <span class="setting-label">{{ 'user.settings.personalInfo' | translate }}</span>
              <span class="setting-description">{{ user.name }} - {{ user.email }}</span>
            </div>
          </div>
          <button class="setting-action" type="button" (click)="openPersonalInfo()">
            <mat-icon>edit</mat-icon>
            {{ 'common.edit' | translate }}
          </button>
        </div>

        <div class="setting-item">
          <div class="setting-info">
            <mat-icon>delete</mat-icon>
            <div>
              <span class="setting-label">{{ 'user.settings.deleteAccount' | translate }}</span>
              <span class="setting-description">{{ 'user.settings.deleteAccountDescription' | translate }}</span>
            </div>
          </div>
          <button class="setting-action danger" type="button">
            <mat-icon>delete</mat-icon>
            {{ 'common.delete' | translate }}
          </button>
        </div>
      </div>

      <div class="settings-actions">
        <button class="save-button" (click)="savePreferences()" type="button">
          {{ 'user.settings.saveChanges' | translate }}
        </button>
      </div>
    </ng-container>
  </div>
</div>

