<div class="active-booking-modal">
  <div class="modal-header">
    <button mat-icon-button (click)="onClose()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="modal-content">
    <div class="icon-container">
      <mat-icon class="check-icon">check_circle</mat-icon>
    </div>
    <h2 class="title">{{ 'booking.activeBooking.title' | translate }}</h2>
    <p class="message" [innerHTML]="getMessage()"></p>
  </div>

  <div mat-dialog-actions class="modal-actions">
    <button mat-raised-button (click)="onUnderstand()" class="understand-button">
      {{ 'booking.activeBooking.understand' | translate }}
    </button>
  </div>
</div>

